* {
	box-sizing: border-box;
    margin:0;
}
header, footer {
    border: 1px solid black;
    height: 50px;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
main, section {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
#board {
    margin:auto;
}

#board div {
    float: left;
}